@{
	ViewData["Title"] = "CityChoice";
}

<h1>Escolha da Cidade</h1>

<table class="table">
	<form asp-action="TeamsChoice">
		<div class="form-group">

			@foreach (var header in ViewBag.Headers)
			{
				<input type="hidden" value="@header" for="@header" id="headers" name="headers" />
			}
		</div>
		<div class="form-group">
			@foreach (var service in ViewBag.Service)
			{
				<input type="hidden" value="@service" for="@service" id="service" name="service" />
			}
		</div>
		<div class="form-group">

			@foreach (var city in ViewBag.Cities)
			{
				<label value="@city" for="@city" id="city" name="city">@city</label>
				<input type="radio" value="@city" for="@city" id="city" name="city" checked/>
				<br />
			}
			<div class="form-group">
				<input type="submit" value="Continuar" class="btn btn-primary" />
			</div>
		</div>
	</form>
</table>

