@{
	ViewData["Title"] = "CityChoice";
}

<h1>CityChoice</h1>

<table class="table">
	<form asp-action="TeamsChoice">
		<div class="form-group">

			@foreach (var header in ViewBag.Headers)
			{
				<input type="hidden" value="@header" for="@header" id="headers" name="headers" />
			}
		</div>
		<div class="form-group">
			@foreach (var service in ViewBag.Service)
			{
				<input type="hidden" value="@service" for="@service" id="service" name="service" />
			}
		</div>
		<div class="form-group">

			@foreach (var city in ViewBag.Cities)
			{
				<label value="@city" for="@city" id="city" name="city">@city</label>
				<input type="hidden" value="@city" for="@city" id="city" name="city" />
				<div class="form-group">
					<input type="submit" value="TeamsChoice" class="btn btn-primary" />
				</div>
			}
		</div>
	</form>
</table>

