@model IEnumerable<RoutesGeneratorWithMicroServices.Models.City>

@{
	ViewData["Title"] = "Index";
}
	<h1>Índice</h1>
@if (!ViewBag.Authenticate)
{
	<div class="row">
		<div class="col-md-12">
			<span>Usuário não está logado no sistema!</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form method="post" asp-controller="Users" asp-action="Index">
				<input type="submit" value="Entrar" class="btn btn-primary">
			</form>
		</div>
	</div>
}
else
{
	<p>
		<a asp-action="Create">Criar novo</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.FederativeUnit)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.FederativeUnit)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
